body {
  font-family: Arial, sans-serif;
  margin: 20px;
  transition: background-color 0.3s, color 0.3s;
}

/* Sections */
.section {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Inputs & textarea */
input[type="text"], textarea, select {
  padding: 5px;
  width: 100%;
  max-width: 300px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Buttons */
button {
  padding: 5px 10px;
  margin-top: 5px;
}

/* Themes */
body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #000000;
  color: #ffffff;
}

/* Input & textarea trong dark mode */
body.dark input, body.dark textarea, body.dark select {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #777;
}
